.App {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #6a11cb, #2575fc, #ff0080);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
